<%= form_for @employee, {:url=>'/employees/create' } do |f| %>

<div class="form-inputs">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :position %>
  <%= f.select :position_id, @positions.collect { |p| [ p.name, p.id ] }, { :prompt => "Select Position" } %>

  <%= f.label :branch %>
  <%=f.select :branch_id, @branches.collect{|p| [p.name,p.id]},{:prompt=> "Select Branch"}%>

</div>
<div class="form-actions">
  <%= f.submit "Sign up" %>
</div>

<% end %>



