<div style ="margin-left: 30px;">
  <h2>New User</h2>

  <%= form_for @user, {:url => '/manage_users/create'} do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.select :role_ids, Role.all.collect { |c| [ c.name, c.id ] }, { :include_blank => 'Please select Role' } %>
  </div>
  <div>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </div>
  
    <%= f.submit "Create User", :class => 'btn-large btn-primary' %>
  
<% end %>
</div>