
<style>
  .pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  color: black;
  background-image: url('up_arrow.gif');
}

.pretty th .desc {
  color: black;
  background-image: url(down_arrow.gif);
}
</style>



<div class="page-header"style="background-color:#999999;">
    <h1 style="text-align:left;">Swipe Card Inventory</h1>
  </div>


<div style="width:800px;height:500px;background-color:white;margin:auto;border:3px solid #333333;overflow:scroll;">



<%= form_tag :action=>'show', :method => 'get' do %>
  <p></p>
  <%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :card_no => nil %>
  </p>
  
<% end %>


<table class="table table-hover"style="border:1px solid rgb(221,221,221);margin:auto; ">
  <tr style="background-color:#ffcccc">
    <th> S.NO</th> <th><%= sortable "card_no"%></th><th><%=sortable "balance"%> </th><th><%=sortable "updated_at"%></th>
  </tr>
  <%@i=0%>
  <%@sum =0%>
<%@cards.each do |s|%>

  <tr>
    <td><%@i+=1%><%=@i%></td><td><%=s.card_no%></td><td><%=s.balance%></td><td><%=s.updated_at%></td><%#=link_to_modal "edit", {:controller=>'items',:action=>'edit',:id=>s.id},:class=>"btn-small btn-primary"%</td>

  </tr>
  <%@sum+=s.balance%>

<%end%>
  <tr style="background-color:#ffcccc">
    <td> </td> <td>TOTAL :</td><td><%=@sum%> </td><td></td>
  </tr
</table>


</div>
